/* this css is for counterapp 

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

/* this css is for moviesapp */
body {
  margin: 0;
  padding: 20px 0 0 0;
  font-family: sans-serif;
}
